/* Variables file */
$base-color: #5101A6;
$darker-base-color:#200142;
$grey-color: #F6F6FA;
$white-color: #FFFFFF;
$black-color: #000000;
$pink-color: #BB6BD9;

$owl-image-path: "~owl.carousel/src/img/";
@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';